<!DOCTYPE html>
{% extends "app5/index.html" %}
{% load static  %}

{% block body_block %}
    <h2>APPLICATION 6 USER for Registratrion</h2>
      {% if registered %}
        <h3>Thank you for Registering.</h3>
        {% else %}
          <h3>Register Here!</h3>
          <p>Fill out this form:</p>

          <form enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ user_info.as_p }}
          <input type="submit" name="" value="REGISTER">
          </form>
      {% endif %}
{% endblock %}
